body {
    color:tomato;
    margin:20px;
}

#header {
    color: aquamarine;
    height: 100px;
}

#content {
    color: brown;
    height: 100px;
}

#footer {
    color: chartreuse;
    height: 100px;
}