body {
    background-color:tomato;
    margin:20px;
}

#header {
    background-color: aquamarine;
    min-height: 300px;
    align-self:center;
    text-align: center;
}

#content {
    background-color: brown;
    min-height: 300px;
    align-self: center;
    text-align: center;
}

#footer {
    background-color: chartreuse;
    min-height: 300px;
    align-self: center;
    text-align: center;
}