html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #873939;
}

#container {
    min-height: 100%;
    position: relative;
}

#header {
    min-height: 250px;
    height: auto;
    background: #1e1e1e;
    color: #ffffff;
}

#header l1 {
    font-size: 100px;
}    

#titleHolder {
    display: inline-block;
    width: 100%;
    float: none;
    vertical-align: middle;
    text-align: center;
    display: block;
}

#header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
    width: 10%;
    min-height: 200px;
    min-width: 200px;
    float: none;
    vertical-align: middle;
}

#body {
    padding: 10px;
    padding-bottom: 60px;
    padding-left: 10%;
    padding-right: 10%;
    background: #873939;
    color: #ffffff;
    font-size: 20px;
    text-align: justify;
    text-justify: inter-word;
}

#body l1 {
    font-size: 5vw;
    margin: 2% auto 2% 0;
    display: block;
    text-align: center;
}

#body iframe {
    margin: 0 auto;
    display: block;
    width: 80%;
    min-width: 300px;
    margin-bottom: 1%;
}

#elementRow{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#downloadLinks {
    border-radius: 10px;
    width: 50%;
    min-width: 220px;
    margin-left: auto;
    margin-right: auto;
    background: #1e1e1e;
    text-align: center;
    padding: 2%;
    margin-bottom: 5%;
}
/*comment lol*/
#downloadcolumns {
    margin: 2%;
    padding: 0,5%,0,5%;
    width: 45%;
    min-width: 200px;
    height: 5%;
    display: inline-block;
    vertical-align: top;
}

#downloadLinks a {
    color: #000000;
    font-size: calc(9px + 1vw);
}

#download {
    border-radius: 5px;
    background: #ffffff;
    width: 100%;
    padding: 1%;
    margin: 4% auto 4% auto;
    display: block;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background: #411818;
}

#footer p {
    margin: 1%;
    color: #ffffff
}
