body {
    color: #161616;
    font-size: 100px;
    background-color: #000000;
}

#header {
    width: 50%;
    height: 20%;
    background-color: #585858
}

#content {
    width: 50%;
    height: 60%;
    background-color: #b6b6b6
}

#footer {
    width: 50%;
    height: 20%;
    background-color: #2a2a2a
}